@font-face {
  font-family: RobotoRegular, Arial, Helvetica, sans-serif;
  src: "url(./fonts/Roboto-Regular.ttf)";
}

body {
  font-family: RobotoRegular, sans-serif;
}

nav a.nav-link.active,
nav a.nav-link:hover,
nav a.nav-link.active:focus {
  border-bottom: 1px solid #ffc107;
}

.cursor-pointer {
  cursor: pointer;
}

li.changeCompletion::marker {
  display: none;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  z-index: 11111111111111111111111;
}
